<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
</head>


<body>
    <form method="post" id="myform" action="/login-user" onsubmit="handleSubmit()"
        style="margin: 30px 10px; padding: 20px; border-radius: 5px; background-color: #eaeaea; width: max-content;">
        <div style="margin: 10px 0;">
            <h5>Email: </h5>
            <input name="email" placeholder="Input email..." required type="email" />
        </div>
        <div style="margin: 10px 0;">
            <h5>Name: </h5>
            <input name="name" placeholder="Input name..." required />
        </div>
        <button style="margin-top: 20px; width: 100%; background-color: #04AA6D; color: white;" type="submit">Sign
            In</button>
    </form>

    <script>
        const handleSubmit = (e) => {
            e.preventDefault();
            console.log('data', e)
        }
    </script>
</body>

</html>