<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1 style="background-color: black; color: white; padding: 10px; text-align: center; margin: 0;">MACBOOK</h1>
    <img style="width: 100%;" src="/images/macbook.png" />
</body>

</html>