<!DOCTYPE html>
<html>
<head>
    <title>Email Confirmation</title>
</head>
<body>
    <p>Hello {{email}},</p>
    {{!-- <p>Thank you for registering. Please confirm your email by clicking <a href="http://{{href}}">here</a>.</p> --}}
    <div>Your new password: <span style="display: inline-block; padding: 20px; background-color: gray; border-radius: 10px"> {{password}} </span></div>
    <img src="cid:logo"/>
</body>
</html>